.PieChartPage {
    text-align: center;
  }
  
  .PieChartPage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .PieChartPage-logo {
      animation: PieChartPage-logo-spin infinite 20s linear;
    }
  }
  
  .PieChartPage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black
  }
  
  .container{
    margin: auto;
    width: 700px;
    height: 100vh;
    margin-top: 10px;
  }